* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: url('./images-20220618T152049Z-001/images/bg-intro-mobile.png'),
    rgba($color: #ff7978, $alpha: 0.7);
}
.container {
  margin-top: 6rem;
  display: flex;
  padding: 0 6%;

  > * {
    width: 50%;
    // border: 1px solid black;
  }
}
.about {
  display: flex;
  align-items: center;
  div {
    padding: 40px;
    h1 {
      font-size: clamp(1.8rem, 5vw, 2.5rem);
      color: #fff;
    }
    p {
      color: #fff;
      font-size: clamp(0.85rem, 5vw, 1.1rem);
    }
  }
}
.register {
  padding: 40px 40px 0 20px;
  div {
    background-color: #5d54a3;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.6);
    padding: 10px 0 10px 10px;
    // border: 1px solid blue;
    border-radius: 8px;
    text-align: center;
    p {
      color: #fff;
      font-size: clamp(0.8rem, 1.5vw, 1rem);
    }
  }
  form {
    background-color: #fff;
    margin-top: 1rem;
    padding: 25px;
    // border: 1px solid blue;
    border-radius: 8px;
    > * {
      display: block;
      margin-bottom: 1rem;
    }
    input,
    button {
      outline: none;
      width: 100%;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid black;
    }
    button {
      background-color: #37cc8a;
      margin-bottom: 0.5rem;
      color: #fff;
      font-weight: 700;
      border: none;
      box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.6);
    }
    .terms {
      text-align: center;
      color: #d7d5e0;
      font-size: clamp(0.75rem, 1.5vw, 0.85rem);
      span {
        color: #ffb7b4;
      }
    }
  }
}
@import 'mobile';
