* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  // border: 2px solid #ffd369;
  background-color: gold;
  height: 100vh;

  header {
    // border: 1px solid white;

    background-color: #373a40;
    // opacity: 0.8;
    height: 12vh;

    nav {
      padding-left: 10px;
      height: 100%;
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      figure {
        // background-color: #fff;
        border: 2px solid gray;
        border-radius: 50%;
        width: 3.5rem;
        img {
          width: 100%;
          // height: 100%;
          display: block;
          border-radius: 50%;
          // border: 1px solid green;
        }
      }
      ul {
        display: flex;
        li {
          margin-right: 2rem;
          a:hover {
            border-bottom: 1px solid yellow;
            border-radius: 2px;
            padding-bottom: 6px;
          }
        }
      }
    }
  }
  & > section {
    position: relative;
    height: 75vh;
    form {
      margin: 0 auto;
      width: 70%;
      background-color: inherit;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      & > * {
        background-color: #fff;
        width: 100%;
        display: block;
        // border: 2px solid white;
        border: none;
        border-radius: 8px;
        color: #000;
      }
      h1 {
        font-size: 1.3rem;
        text-align: center;

        background-color: inherit;
      }
      input {
        padding-left: 3.75rem;

        height: 10%;
      }
      & > *:focus {
        outline: none;
        background-color: #fff;
      }
      input[type='text'] {
        background-image: url('./image/contact\ svg.svg');
        background-repeat: none;
        background-size: 20px 40px;
        background-repeat: no-repeat;
        background-position: top 50% left 2%;
      }
      input[type='email'] {
        background-image: url('./image/email-svg-icon-12.jpg');
        background-repeat: none;
        background-size: 23px 30px;
        background-repeat: no-repeat;
        background-position: top 50% left 2%;
      }
      textarea {
        padding: 10px 0 0 10px;
      }

      button {
        color: #000;
        height: 10%;
        width: 50%;
        cursor: pointer;
      }
    }
  }
  footer {
    height: 13vh;
    background-color: #373a40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: clamp(1.1rem, 2vw, 1.5rem);
      cursor: pointer;
    }
  }
}
