* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  margin: 1rem auto;
  text-align: center;
  width: 50rem;
  border-left: 1px solid black;
  border-spacing: 0;
}
td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
/* .total td {
  border-right: 0;
} */
th {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
}
